[Unit]
Description=Chooch AI On Prem 
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {docker_name}
ExecStart=/usr/bin/docker run --runtime nvidia --rm --name %n \
    -v {data_path}:/app/chooch_ai_on_prem/data \
    -p 8000:8000 \
    {docker_name}
    
User={user_name}


[Install]
WantedBy=default.target
